<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.booksdelivery.seller"
    versionCode = "17" 
    version     = "1.0.7" >
<!-- versionCode is optional and Android only -->

  <name>BooksDelivery Seller</name>
  <description>BooksDelivery Seller app shows the list of products to pick for particular seller and also allows to pick up new orders! Allows to manage the seller payments on mobile app.</description>
  <author href="http://jagansindia.in" email="support@jagansindia.in">Jagansindia, Inc Team</author>
  <content src="index.html"/>
  <preference name="phonegap-version" value="cli-8.1.1" />
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="SplashScreenBackgroundColor" value="white" />
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="19"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="android-build-tool" value="gradle" />
  <plugin name="cordova-plugin-console" />
  <plugin name="cordova-plugin-dialogs" />
  <plugin name="cordova-plugin-inappbrowser" />
  <plugin name="cordova-plugin-network-information" />
  <plugin name="cordova-plugin-splashscreen" />
  <plugin name="cordova-plugin-vibration" />
  <plugin name="cordova-plugin-whitelist" />
  <icon src="icon.png"/>
  <icon src="res/icon/android/icon-36-ldpi.png" platform="android" qualifier="ldpi"/>
  <icon src="res/icon/android/icon-48-mdpi.png" platform="android" qualifier="mdpi"/>
  <icon src="res/icon/android/icon-72-hdpi.png" platform="android" qualifier="hdpi"/>
  <icon src="res/icon/android/icon-96-xhdpi.png" platform="android" qualifier="xhdpi"/>
  <icon src="res/icon/windows-phone/icon-48.png" platform="winphone"/>
  <icon src="res/icon/windows-phone/icon-173-tile.png" platform="winphone" role="background"/>
  <splash src="splash.png" />
  <access origin="http://booksdelivery.com" subdomains="true" />
</widget>
